/ locals: object

- klass_name = object.model_name.name.underscore
- admin_edit_path = send "edit_admin_#{klass_name}_path", object.id
- admin_show_path = send "admin_#{klass_name}_path", object.id

.btn-group.btn-group-sm
  = link_to t('edit'), admin_edit_path, class: 'btn btn-default'
  = link_to t('delete'), admin_show_path, method: :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
