.table-responsive
  table.table.table-hover.table-bordered.table-condensed.table-striped data-action="scroll@window->sticky-table-header#onScroll" data-controller="sticky-table-header" data-target="sticky-table-header.table" 
    = yield

