.btn-group.btn-group-sm
  = link_to t('edit'), admin_edit_path(@object.id), class: 'btn btn-default'
  = link_to t('delete'), admin_show_path(@object.id), method: :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
