.btn-group.btn-group-sm
  = link_to "#{t('edit')} ",    admin_edit_path(id), class: 'btn btn-default'
  = link_to "#{t('destroy')} ", admin_show_path(id), method: :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
