.page-header(data-controller="admin-header")
  = link_to t('new') + model_name.human, admin_new_path, class: 'btn btn-secondary btn-warning float-right'
  h2 = link_to model_name.human, admin_models_path
